<ion-view class="dashboard" view-title="Home">
    <ion-header-bar align-title="center" >
        <h1 class="title" >{{title}}</h1>
    </ion-header-bar>
    <ion-content class="text-center">
        <div class="row">
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>Book A Truck</p>
            </div>
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>Current Order</p>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>Notification</p>
            </div>
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>My Profile</p>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>My Queries</p>
            </div>
            <div class="box">
                <img ng-src="img/booktruck.jpg" />
                <p>My Reward</p>
            </div>
        </div>
       
    </ion-content>
</ion-view>