<ion-view class='invites'>
    <ion-header-bar align-title="center" >
        <a class="button button-clear font-white back-btn" ng-href="#/setting">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Invites</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list" >
            <div class="item item-button-right" ng-repeat="invite in invites">
                {{invite.project_name}}
                
                <button class="button  button-balanced" ng-click="acceptRejectInvite(invite.invitation_id,1)">
                    <i class="icon ion-checkmark-circled"></i>
                </button>
                <button class="button  button-assertive"  ng-click="acceptRejectInvite(invite.invitation_id,2)">
                    <i class="icon ion-close-circled"></i>
                </button>
                  
            </div>
        </div>
    </ion-content>

</ion-view>