<ion-view class='message-container' view-title="Main">
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">{{title}}</h1>
    </ion-header-bar>
    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="message in messages"
           ng-class="{other: message.from == myId}"
           class="messages">

        <div class="message clearfix" ng-class="{'slide-right': hideTime, '': !hideTime}">
<!--            <img style="float:right" src="{{message.image}}">-->
            <div>
            <span><i style="color:blue">{{message.first_name+' '+message.last_name}}</i><br><i>{{message.msg }}</i><br><i style="font-size:10px">{{message.created}}</i></span>
            </div>
        </div>

        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.created}}</div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>

</ion-view>