<ion-view class='my-profile' view-title="Me">
    <ion-header-bar align-title="center">
        <h1 class="title">My Profile</h1>
    </ion-header-bar>
    <ion-content class="text-center">
        <div class="menu-avatar">
            <img src="{{ imgURIMenu || user.profile_image || 'img/default_profile.png'}}" >
            <img src="img/editq.png" class="edit-img" alt="edit" width="28" height="28" ng-click="setImage()">
        </div>
        <div class="user_profile">
            <p>{{user.first_name+' '+user.last_name}}</p>
            <p>{{user.email}}</p>

        </div>
        <button class="button button-assertive button-small logout" ng-click="logout()">
            Logout
        </button>
    </ion-content>
    <ion-footer-bar>
        <div ng-include="'templates/tabs.html'"></div>
    </ion-footer-bar>
    
</ion-view>