<ion-view>
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-gear-b" ></i>
        </a>
        <h1 class="title">Notifications</h1>
    </ion-header-bar>
    <ion-content>
        <div class=notification_container>
            <ul type="none" class="list" >
                <li class="item" ng-repeat="notification in notifications">
                    {{notification.notification}}
                </li>
            </ul>
        </div>

    </ion-content>
    <ion-footer-bar>
        <div ng-include src="'templates/tabs.html'"></div>
    </ion-footer-bar>
</ion-view>