<ion-view class='setting' view-title="Settings">
    <ion-header-bar align-title="center" class=" login">
        <a class="button button-clear font-white back-btn" ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title login-title">Settings</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                ACCOUNT
            </div>
            <a class="item text-left" ng-href="#/change_password">
                Change Password
            </a>
            <a class="item text-left" ng-href="#/project_history">
                Project History
            </a>
            <a class="item text-left" ng-href="#/invites" >
                Invites
            </a>
            <div class="item item-divider">
                PROJECTS
            </div>
            <a class="item text-left" ng-href="#/home" >
                New Project
            </a>
            <a class="item text-left" ng-href="#/projects">
                Projects
            </a>
            <a class="item text-left" >
                Jim's Birthday Project
            </a>
            <a class="item text-left" >
                Concert Promos
            </a>
        </div>
    </ion-content>
</ion-view>