<ion-view view-title="Sign Up">
    <ion-header-bar align-title="center" >
        <a class="button button-clear font-white back-btn" ng-href="#/main">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content>
        <div class='signup'>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Enter your first name" ng-model="data.first_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Enter your last name" ng-model="data.last_name">
            </label>
            <!--                <label class="item item-input item-stacked-label">
                                <span class="input-label">Phone Number</span>
                                <input type="text" placeholder="Enter your phone number" ng-model="data.phone_number">
                            </label>-->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Enter your email id" name="email" ng-model="data.email" >
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter your password" ng-model="data.password">
            </label>
            <label class = "item item-input item-stacked-label">
                <div class = "input-label">
                  Select Account Type
                </div>
                   <br>
                   <select class="account_type">
                    <option selected>Client</option>
                 
                    <option>Partner</option>
                </select>
            </label>


            <div class="button button-full button-dark signup_button" ng-click="signup()">Sign Up</div>
            <div class="signup-link">
                <a class='button button-clear font-white' ng-href="#/login">Already Member? Login</a>
            </div>
        </div>
    </ion-content>
</ion-view>